.Rproj.user
.Rhistory
.RData
.Rproj
predmachlearn-006_project.Rproj
project_draft.Rmd
project_draft.html
project_draft2.Rmd
project_draft_cache
pml-testing.csv
ans.txt
pml-training.csv
gh-pages-test.Rmd
gh-pages-test.html
predmachlearn-006_project_final_cache
